#navigation li {
list-style:none;
float:left;
padding:5px;
}
#navigation {
cursor:pointer;
}
#navigation .selected {
background-color:#9EE3D5;
color:#B7364F;
}
li a{
text-decoration:none;
}