#navigation {
cursor:pointer;
border-right:3px solid gray;
width:120px;
margin:0;
padding:40px;
font-size:20px;
}
#navigation .selected {
color:red;
}
#grid {
display:grid;
grid-template-columns:200px 3fr 1fr;
}
#article {
padding:25px;
font-size:20px;
}
#profile {
padding:25px;
}

.portal a {
text-decoration:none;
color:blue;
font-weight:bold;
}

body {
margin:0;
}
h1 {
text-align:center;
font-size:45px;
color:black;
border-bottom:3px solid gray;
padding:20px;
margin:0;
}

@media(max-width:800px){
#grid {display:block;}
#navigation {border-right:none; border-bottom:3px solid gray;}
img {width:50%}
}